{% extends "emp_base.html" %}
{% load static %}
{% block title %}
Certificates
{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/req_leaves.css'%}">
{% endblock %}
{% block content %}
<div class="container">
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endif %}
    <div class="addform">
        <h1 style="text-align: center;">Add Certificate</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="CirTitle" placeholder="Title" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="text" name="Technology" placeholder="Technologies used" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="">Earn Date</label>
                <input type="date" name="EarnDate" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="">Expire Date</label>
                <input type="date" name="Expdate" class="form-control" required />
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
    <br>
    <div class="displayData table-responsive">
        {% if certificates %}
        <table class="table table-striped bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Technologies</th>
                    <th scope="col">Earn Date</th>
                    <th scope="col">Exp Date</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for certf in certificates %}
                <tr>
                    <form action="" method="post">
                        {% csrf_token %}
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{certf.CirTitle}}</td>
                        <td>{{certf.Technology}}</td>
                        <td>{{certf.EarnDate}}</td>
                        <td>{{certf.Expdate}}</td>
                        <td>
                            <button type="submit" style="color: red;cursor: pointer;border:none;" name="deleteId"
                                value="{{certf.cirId}}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="container jumbotron" style="width: 100%; padding: 25px; margin-top: 50px">
            <p class="lead">No <b>certificates</b> has been Added</p>
        </div>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit certf</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" action="" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <input type="text" name="CirTitle" id="CirTitle" placeholder="Title" class="form-control" required />
                </div>
                <div class="form-group">
                    <input type="text" name="Technology" id="Technology" placeholder="Technologies used" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="">Earn Date</label>
                    <input type="date" name="EarnDate" id="EarnDate" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="">Expire Date</label>
                    <input type="date" name="Expdate" id="Expdate" class="form-control" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="editId" class="btn btn-primary" name="editDetails" value="">Save
                        changes</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    const savebutton = document.getElementById("editId");
    const Technology = document.getElementById("Technology");
    const CirTitle = document.getElementById("CirTitle");
    const EarnDate = document.getElementById("EarnDate");
    const Expdate = document.getElementById("Expdate");

    function editDetails(cirId, dn) {
        savebutton.setAttribute('value', cirId);
        Technology.value = dn;
    }
</script>

{% endblock %}