{% extends "auth_base.html" %}
{% load static %}
{% block title %}
HR Management
{% endblock %}
{% block content %}
<div class="top">
    <div class="leftcontent">
        <span class="textLeftTop">Hiring Resource <span class="specialTextOnline">Management System</span></span><br>
        <span><span class="textLeftTopDown">... access your data online</span></span>
    </div>
    <div class="rightimage">
        <img class="image" src="{% static 'images/dataAnalysis.png'%}" alt="dataAnalysis">
    </div>
</div>



{% endblock %}